PALM_APP_ID=30019
PALM_SECRET_ID=aa9bb818-2da6-44ed-817e-88e1afa65f1d
PALM_SECRET_KEY=49ea1879-53f7-4592-9493-48838a58c1b3
PALM_OPENAPI_HOST=open.intl.palm.tencent.com
PALM_SDK_LOADER_URL=https://app.intl.palm.tencent.com/palm_h5/loader/palm-mobile-manager.js
PORT=3000
